@charset "UTF-8";
.container {
  margin: 0 auto;
  max-width: 1200px;
}
.container.main {
  padding: 100px 40px;
}

.row {
  position: relative;
  margin: 0 -10px;
  padding: 0;
  list-style: none;
}

.col-1, .col-sm-1 {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  padding: 0 10px;
  margin: 0;
  font-size: 16px;
  vertical-align: top;
  width: 8.3333333333%;
}
.col-1 > *:first-child, .col-sm-1 > *:first-child {
  margin-top: 0;
}
.col-1 > *:last-child, .col-sm-1 > *:last-child {
  margin-bottom: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

@media (max-width: 768px) {
  .col-sm-1 {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
    vertical-align: top;
    width: 100%;
  }
  .col-sm-1 > *:first-child {
    margin-top: 0;
  }
  .col-sm-1 > *:last-child {
    margin-bottom: 0;
  }
}
.col-2, .col-sm-2 {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  padding: 0 10px;
  margin: 0;
  font-size: 16px;
  vertical-align: top;
  width: 16.6666666667%;
}
.col-2 > *:first-child, .col-sm-2 > *:first-child {
  margin-top: 0;
}
.col-2 > *:last-child, .col-sm-2 > *:last-child {
  margin-bottom: 0;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

@media (max-width: 768px) {
  .col-sm-2 {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
    vertical-align: top;
    width: 100%;
  }
  .col-sm-2 > *:first-child {
    margin-top: 0;
  }
  .col-sm-2 > *:last-child {
    margin-bottom: 0;
  }
}
.col-3, .col-sm-3 {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  padding: 0 10px;
  margin: 0;
  font-size: 16px;
  vertical-align: top;
  width: 25%;
}
.col-3 > *:first-child, .col-sm-3 > *:first-child {
  margin-top: 0;
}
.col-3 > *:last-child, .col-sm-3 > *:last-child {
  margin-bottom: 0;
}

.offset-3 {
  margin-left: 25%;
}

@media (max-width: 768px) {
  .col-sm-3 {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
    vertical-align: top;
    width: 100%;
  }
  .col-sm-3 > *:first-child {
    margin-top: 0;
  }
  .col-sm-3 > *:last-child {
    margin-bottom: 0;
  }
}
.col-4, .col-sm-4 {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  padding: 0 10px;
  margin: 0;
  font-size: 16px;
  vertical-align: top;
  width: 33.3333333333%;
}
.col-4 > *:first-child, .col-sm-4 > *:first-child {
  margin-top: 0;
}
.col-4 > *:last-child, .col-sm-4 > *:last-child {
  margin-bottom: 0;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

@media (max-width: 768px) {
  .col-sm-4 {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
    vertical-align: top;
    width: 100%;
  }
  .col-sm-4 > *:first-child {
    margin-top: 0;
  }
  .col-sm-4 > *:last-child {
    margin-bottom: 0;
  }
}
.col-5, .col-sm-5 {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  padding: 0 10px;
  margin: 0;
  font-size: 16px;
  vertical-align: top;
  width: 41.6666666667%;
}
.col-5 > *:first-child, .col-sm-5 > *:first-child {
  margin-top: 0;
}
.col-5 > *:last-child, .col-sm-5 > *:last-child {
  margin-bottom: 0;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

@media (max-width: 768px) {
  .col-sm-5 {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
    vertical-align: top;
    width: 100%;
  }
  .col-sm-5 > *:first-child {
    margin-top: 0;
  }
  .col-sm-5 > *:last-child {
    margin-bottom: 0;
  }
}
.col-6, .col-sm-6 {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  padding: 0 10px;
  margin: 0;
  font-size: 16px;
  vertical-align: top;
  width: 50%;
}
.col-6 > *:first-child, .col-sm-6 > *:first-child {
  margin-top: 0;
}
.col-6 > *:last-child, .col-sm-6 > *:last-child {
  margin-bottom: 0;
}

.offset-6 {
  margin-left: 50%;
}

@media (max-width: 768px) {
  .col-sm-6 {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
    vertical-align: top;
    width: 100%;
  }
  .col-sm-6 > *:first-child {
    margin-top: 0;
  }
  .col-sm-6 > *:last-child {
    margin-bottom: 0;
  }
}
.col-7, .col-sm-7 {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  padding: 0 10px;
  margin: 0;
  font-size: 16px;
  vertical-align: top;
  width: 58.3333333333%;
}
.col-7 > *:first-child, .col-sm-7 > *:first-child {
  margin-top: 0;
}
.col-7 > *:last-child, .col-sm-7 > *:last-child {
  margin-bottom: 0;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

@media (max-width: 768px) {
  .col-sm-7 {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
    vertical-align: top;
    width: 100%;
  }
  .col-sm-7 > *:first-child {
    margin-top: 0;
  }
  .col-sm-7 > *:last-child {
    margin-bottom: 0;
  }
}
.col-8, .col-sm-8 {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  padding: 0 10px;
  margin: 0;
  font-size: 16px;
  vertical-align: top;
  width: 66.6666666667%;
}
.col-8 > *:first-child, .col-sm-8 > *:first-child {
  margin-top: 0;
}
.col-8 > *:last-child, .col-sm-8 > *:last-child {
  margin-bottom: 0;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

@media (max-width: 768px) {
  .col-sm-8 {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
    vertical-align: top;
    width: 100%;
  }
  .col-sm-8 > *:first-child {
    margin-top: 0;
  }
  .col-sm-8 > *:last-child {
    margin-bottom: 0;
  }
}
.col-9, .col-sm-9 {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  padding: 0 10px;
  margin: 0;
  font-size: 16px;
  vertical-align: top;
  width: 75%;
}
.col-9 > *:first-child, .col-sm-9 > *:first-child {
  margin-top: 0;
}
.col-9 > *:last-child, .col-sm-9 > *:last-child {
  margin-bottom: 0;
}

.offset-9 {
  margin-left: 75%;
}

@media (max-width: 768px) {
  .col-sm-9 {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
    vertical-align: top;
    width: 100%;
  }
  .col-sm-9 > *:first-child {
    margin-top: 0;
  }
  .col-sm-9 > *:last-child {
    margin-bottom: 0;
  }
}
.col-10, .col-sm-10 {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  padding: 0 10px;
  margin: 0;
  font-size: 16px;
  vertical-align: top;
  width: 83.3333333333%;
}
.col-10 > *:first-child, .col-sm-10 > *:first-child {
  margin-top: 0;
}
.col-10 > *:last-child, .col-sm-10 > *:last-child {
  margin-bottom: 0;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

@media (max-width: 768px) {
  .col-sm-10 {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
    vertical-align: top;
    width: 100%;
  }
  .col-sm-10 > *:first-child {
    margin-top: 0;
  }
  .col-sm-10 > *:last-child {
    margin-bottom: 0;
  }
}
.col-11, .col-sm-11 {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  padding: 0 10px;
  margin: 0;
  font-size: 16px;
  vertical-align: top;
  width: 91.6666666667%;
}
.col-11 > *:first-child, .col-sm-11 > *:first-child {
  margin-top: 0;
}
.col-11 > *:last-child, .col-sm-11 > *:last-child {
  margin-bottom: 0;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

@media (max-width: 768px) {
  .col-sm-11 {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
    vertical-align: top;
    width: 100%;
  }
  .col-sm-11 > *:first-child {
    margin-top: 0;
  }
  .col-sm-11 > *:last-child {
    margin-bottom: 0;
  }
}
.col-12, .col-sm-12 {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  padding: 0 10px;
  margin: 0;
  font-size: 16px;
  vertical-align: top;
  width: 100%;
}
.col-12 > *:first-child, .col-sm-12 > *:first-child {
  margin-top: 0;
}
.col-12 > *:last-child, .col-sm-12 > *:last-child {
  margin-bottom: 0;
}

.offset-12 {
  margin-left: 100%;
}

@media (max-width: 768px) {
  .col-sm-12 {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
    vertical-align: top;
    width: 100%;
  }
  .col-sm-12 > *:first-child {
    margin-top: 0;
  }
  .col-sm-12 > *:last-child {
    margin-bottom: 0;
  }
}
/* breakpoints for media queries */
/* colours */
/**
 * GHColors theme by Avi Aryan (http://aviaryan.in)
 * Inspired by Github syntax coloring
 */
code[class*=language-],
pre[class*=language-] {
  color: rgb(42, 65, 77);
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  font-size: 0.9em;
  line-height: 1.2em;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*=language-]::-moz-selection, pre[class*=language-] ::-moz-selection,
code[class*=language-]::-moz-selection, code[class*=language-] ::-moz-selection {
  background: #b3d4fc;
}

pre[class*=language-]::selection, pre[class*=language-] ::selection,
code[class*=language-]::selection, code[class*=language-] ::selection {
  background: #b3d4fc;
}

/* Code blocks */
pre[class*=language-] {
  padding: 1em;
  margin: 2em 0;
  overflow: auto;
  background-color: #dcdef2;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #7e94ac;
  font-style: italic;
}

.token.namespace {
  opacity: 0.7;
}

.token.string,
.token.attr-value {
  color: #e3116c;
}

.token.punctuation,
.token.operator {
  color: #393A34; /* no highlight */
}

.token.entity,
.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.variable,
.token.constant,
.token.property,
.token.regex,
.token.inserted {
  color: #36acaa;
}

.token.atrule,
.token.keyword,
.token.attr-name,
.language-autohotkey .token.selector {
  color: #00a4db;
}

.token.tag,
.token.selector,
.language-autohotkey .token.keyword {
  color: #00009f;
}

section.has-light-background, section.has-light-background h1, section.has-light-background h2, section.has-light-background h3, section.has-light-background h4, section.has-light-background h5, section.has-light-background h6 {
  color: #222;
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
:root {
  --r-background-color: #ffffff;
  --r-main-font: 'ITC Avant Garde Gothic Std Book', sans-serif;
  --r-main-font-size: 36px;
  --r-main-color: rgb(0, 0, 0);
  --r-block-margin: 20px;
  --r-heading-margin: 0 0 20px 0;
  --r-heading-font: 'ITC Avant Garde Gothic Std Book', sans-serif;
  --r-heading-color: #363795;
  --r-heading-line-height: 1.2;
  --r-heading-letter-spacing: normal;
  --r-heading-text-transform: uppercase;
  --r-heading-text-shadow: none;
  --r-heading-font-weight: 600;
  --r-heading1-text-shadow: none;
  --r-heading1-size: 2.4em;
  --r-heading2-size: 1.5em;
  --r-heading3-size: 1.1em;
  --r-heading4-size: 1em;
  --r-code-font: monospace;
  --r-link-color: #363795;
  --r-link-color-dark: #22225d;
  --r-link-color-hover: #5657c2;
  --r-selection-background-color: #7b7ccf;
  --r-selection-color: #fff;
}

.reveal-viewport {
  background: #ffffff;
  background-color: var(--r-background-color);
}

.reveal {
  font-family: var(--r-main-font);
  font-size: var(--r-main-font-size);
  font-weight: normal;
  color: var(--r-main-color);
}

.reveal ::selection {
  color: var(--r-selection-color);
  background: var(--r-selection-background-color);
  text-shadow: none;
}

.reveal ::-moz-selection {
  color: var(--r-selection-color);
  background: var(--r-selection-background-color);
  text-shadow: none;
}

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: var(--r-heading-margin);
  color: var(--r-heading-color);
  font-family: var(--r-heading-font);
  font-weight: var(--r-heading-font-weight);
  line-height: var(--r-heading-line-height);
  letter-spacing: var(--r-heading-letter-spacing);
  text-transform: var(--r-heading-text-transform);
  text-shadow: var(--r-heading-text-shadow);
  word-wrap: break-word;
}

.reveal h1 {
  font-size: var(--r-heading1-size);
}

.reveal h2 {
  font-size: var(--r-heading2-size);
}

.reveal h3 {
  font-size: var(--r-heading3-size);
}

.reveal h4 {
  font-size: var(--r-heading4-size);
}

.reveal h1 {
  text-shadow: var(--r-heading1-text-shadow);
}

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: var(--r-block-margin) 0;
  line-height: 1.3;
}

/* Remove trailing margins after titles */
.reveal h1:last-child,
.reveal h2:last-child,
.reveal h3:last-child,
.reveal h4:last-child,
.reveal h5:last-child,
.reveal h6:last-child {
  margin-bottom: 0;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%;
}

.reveal strong,
.reveal b {
  font-weight: bold;
}

.reveal em {
  font-style: italic;
}

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em;
}

.reveal ol {
  list-style-type: decimal;
}

.reveal ul {
  list-style-type: disc;
}

.reveal ul ul {
  list-style-type: square;
}

.reveal ul ul ul {
  list-style-type: circle;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px;
}

.reveal dt {
  font-weight: bold;
}

.reveal dd {
  margin-left: 40px;
}

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: var(--r-block-margin) auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block;
}

.reveal q {
  font-style: italic;
}

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: var(--r-block-margin) auto;
  text-align: left;
  font-size: 0.55em;
  font-family: var(--r-code-font);
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

.reveal code {
  font-family: var(--r-code-font);
  text-transform: none;
  tab-size: 2;
}

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;
}

.reveal .code-wrapper {
  white-space: normal;
}

.reveal .code-wrapper code {
  white-space: pre;
}

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.reveal table th {
  font-weight: bold;
}

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid;
}

.reveal table th[align=center],
.reveal table td[align=center] {
  text-align: center;
}

.reveal table th[align=right],
.reveal table td[align=right] {
  text-align: right;
}

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none;
}

.reveal sup {
  vertical-align: super;
  font-size: smaller;
}

.reveal sub {
  vertical-align: sub;
  font-size: smaller;
}

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top;
}

.reveal small * {
  vertical-align: top;
}

.reveal img {
  margin: var(--r-block-margin) 0;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: var(--r-link-color);
  text-decoration: none;
  transition: color 0.15s ease;
}

.reveal a:hover {
  color: var(--r-link-color-hover);
  text-shadow: none;
  border: none;
}

.reveal .roll span:after {
  color: #fff;
  background: var(--r-link-color-dark);
}

/*********************************************
 * Frame helper
 *********************************************/
.reveal .r-frame {
  border: 4px solid var(--r-main-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.reveal a .r-frame {
  transition: all 0.15s linear;
}

.reveal a:hover .r-frame {
  border-color: var(--r-link-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: var(--r-link-color);
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: var(--r-link-color);
}

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: var(--r-background-color);
  }
}
@font-face {
  font-family: Cascadia Mono-SemiLight;
  src: url(/fonts/CascadiaMono.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Cascadia Code-SemiLight;
  src: url(/fonts/CascadiaCode.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
pre .line {
  display: block;
}

code,
pre {
  font-family: "Cascadia Mono-SemiLight", Menlo, Monaco, Consolas, monospace;
  padding: 0.2em;
  margin: 0;
  font-size: 85%;
  white-space: pre-wrap;
  background-color: rgba(0, 0, 0, 0.04);
}

pre {
  padding: 15px;
  border-radius: 4px;
}

pre code {
  padding: 0;
  font-size: 100%;
  background-color: transparent;
  text-align: left;
}

.reveal small {
  vertical-align: unset;
}

.reveal blockquote {
  box-shadow: none;
}

.reveal section {
  text-align: left;
}

h1, h2, h3, h4, h5 {
  text-transform: none !important;
}

.reveal h3 {
  color: #5253c0;
}

.reveal h4 {
  color: #5a5bc3;
}

.title-slide .author {
  color: #4d4d4d;
  font-weight: 400;
  font-size: 0.9em;
}

.title-slide .affiliation {
  color: #595959;
  font-weight: 400;
  font-size: 0.8em;
  font-style: italic;
}

.title-slide h3 {
  color: #4d4d4d;
}

.reveal img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  object-fit: contain;
}

.reveal object {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  margin-top: 1em;
  object-fit: contain;
}

.reveal img.shadow {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
}

.reveal .slides section {
  height: 100%;
}

.reveal .slides section.title-slide {
  height: 100%;
}

.reveal .slides section.title-slide .slide-wrapper {
  height: 550px;
  margin-top: auto;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-bottom: auto;
}

.title-slide {
  text-align: left;
}

.title-slide h2 {
  font-size: 170%;
  margin-bottom: 0.5em;
}

.title-slide h2::after {
  content: " ";
  margin-top: 0.5em;
  display: block;
  border: 4px solid #363795;
  border-radius: 4px;
  background-color: #363795;
  width: 150px;
}

#wise-logo {
  background-image: url(/images/misc/wise-logo.svg);
}

#vub-logo {
  width: 20%;
  background-image: url(/images/misc/vub-logo.svg);
}

#sembeacon-logo {
  background-image: url(/images/logo.svg);
  width: 25%;
}

.logos {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.logos div {
  display: inline-block;
  height: 100px;
  width: 30%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  margin-right: 0.5em;
}

.reveal ul {
  list-style-type: none;
  margin: 0;
}

.reveal ul ul {
  list-style-type: none;
}

.reveal ul li li:before {
  content: "⬛";
  font-size: 30%;
}

.reveal ul li:before {
  content: "►";
  font-size: 60%;
  line-height: 100%;
  vertical-align: middle;
  padding-right: 0.8rem;
}

.reveal li li {
  font-size: 80%;
}

.header-left {
  position: absolute;
  display: inline-block;
  top: 0%;
  left: 0%;
}

.header-right {
  position: absolute;
  display: inline-block;
  top: -1%;
  right: 0%;
}

.header-right-top {
  position: absolute;
  display: inline-block;
  top: -4.4%;
  right: -4.4%;
}

.corner {
  width: 0px;
  height: 0px;
  border-top: 200px solid #363795;
  border-left: 200px solid transparent;
}

.corner-cut {
  display: inline;
  background-color: white;
  bottom: 0;
  right: -1px;
  position: absolute;
  height: 80px;
  width: 100%;
}

.reveal span.highlight {
  color: #3b3fff;
  font-weight: bold;
}

.language-id {
  display: none;
}

.header-logo {
  display: inline-block;
  height: 75px;
  width: 150px;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  position: absolute;
  top: 20px;
  right: 20px;
}

.row .line {
  min-height: 1.2em;
}
.row .col-1, .row .col-sm-1 {
  font-size: 30px;
  line-height: 1.2em;
}
.row .col-2, .row .col-sm-2 {
  font-size: 30px;
  line-height: 1.2em;
}
.row .col-3, .row .col-sm-3 {
  font-size: 30px;
  line-height: 1.2em;
}
.row .col-4, .row .col-sm-4 {
  font-size: 30px;
  line-height: 1.2em;
}
.row .col-5, .row .col-sm-5 {
  font-size: 30px;
  line-height: 1.2em;
}
.row .col-6, .row .col-sm-6 {
  font-size: 30px;
  line-height: 1.2em;
}
.row .col-7, .row .col-sm-7 {
  font-size: 30px;
  line-height: 1.2em;
}
.row .col-8, .row .col-sm-8 {
  font-size: 30px;
  line-height: 1.2em;
}
.row .col-9, .row .col-sm-9 {
  font-size: 30px;
  line-height: 1.2em;
}
.row .col-10, .row .col-sm-10 {
  font-size: 30px;
  line-height: 1.2em;
}
.row .col-11, .row .col-sm-11 {
  font-size: 30px;
  line-height: 1.2em;
}
.row .col-12, .row .col-sm-12 {
  font-size: 30px;
  line-height: 1.2em;
}

.cursor-dot {
  filter: drop-shadow(0 0 0.5rem red);
}

.cursor-dot.inactive {
  opacity: 10% !important;
}

.reveal pre code {
  max-height: 500px;
}

.reveal .row pre {
  margin: 0;
}
/*# sourceMappingURL=presentation.css.map */