/* breakpoints for media queries */
/* colours */
.navigation {
  padding: 0px 10px 0 0;
  text-align: left;
  margin-top: -0.5em;
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation a {
  display: block;
  padding: 2px 0;
  text-decoration: none;
  font-size: 0.95em;
  color: var(--color-text);
  transition: opacity 0.2s;
}

.navigation a.current {
  color: #fff;
  font-weight: bold;
}

.navigation a:hover {
  opacity: 0.75;
}

.navigation h3 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
}

.toc {
  margin-left: 20px;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .col-sm-3 > :last-child {
    margin-bottom: 2em;
  }
  .col-sm-2 > :last-child {
    margin-bottom: 2em;
  }
}
li.title {
  position: relative;
  left: -2px;
  font-weight: bolder;
  font-size: 1.17em;
  color: #660000;
  margin: 1em 0 0.5em 0;
}

div.alert {
  display: block;
  border-radius: 1em;
  border-style: solid;
  border-width: 1px;
  padding: 20px;
  margin-top: 2em;
  margin-bottom: 2em;
  color: black;
  text-align: justify;
}
div.alert h1, div.alert h2, div.alert h3 {
  padding: 0;
  margin: 0;
  color: black;
}
div.alert.alert-warn {
  background-color: rgb(241, 241, 128);
  border-color: rgb(175, 175, 80);
}
@media (max-width: 740px) {
  div.alert {
    border-radius: 0.5em;
  }
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}

.postlist-item {
  margin-bottom: 1em;
  display: inline-flex;
}

.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: rgb(162, 202, 255);
  display: block;
}

.postlist-date {
  word-spacing: -0.5px;
}

.postlist-link {
  padding-bottom: 0.15em;
  display: inline-block;
}

.postlist-item-active .postlist-link {
  font-weight: bold;
}

.home .postlist-link {
  font-size: 1.1em; /* 19px /16 */
  font-weight: 700;
}

.postlist-description {
  font-style: italic;
  font-size: 14px;
  display: block;
}

.postlist-content {
  float: right;
  display: inline;
}

img.postlist-image {
  width: 4em;
  margin-top: 0.3em;
  display: inline;
  height: 4em;
  border-radius: 0.5em;
  background-color: transparent;
  float: left;
  margin-right: 1em;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}
.container.main {
  padding: 20px 40px;
}

.row {
  position: relative;
  margin: 0 -10px;
  padding: 0;
  list-style: none;
}

.col-1, .col-sm-1 {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  padding: 0 10px;
  margin: 0;
  font-size: 16px;
  vertical-align: top;
  width: 8.3333333333%;
}
.col-1 > *:first-child, .col-sm-1 > *:first-child {
  margin-top: 0;
}
.col-1 > *:last-child, .col-sm-1 > *:last-child {
  margin-bottom: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

@media (max-width: 768px) {
  .col-sm-1 {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
    vertical-align: top;
    width: 100%;
  }
  .col-sm-1 > *:first-child {
    margin-top: 0;
  }
  .col-sm-1 > *:last-child {
    margin-bottom: 0;
  }
}
.col-2, .col-sm-2 {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  padding: 0 10px;
  margin: 0;
  font-size: 16px;
  vertical-align: top;
  width: 16.6666666667%;
}
.col-2 > *:first-child, .col-sm-2 > *:first-child {
  margin-top: 0;
}
.col-2 > *:last-child, .col-sm-2 > *:last-child {
  margin-bottom: 0;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

@media (max-width: 768px) {
  .col-sm-2 {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
    vertical-align: top;
    width: 100%;
  }
  .col-sm-2 > *:first-child {
    margin-top: 0;
  }
  .col-sm-2 > *:last-child {
    margin-bottom: 0;
  }
}
.col-3, .col-sm-3 {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  padding: 0 10px;
  margin: 0;
  font-size: 16px;
  vertical-align: top;
  width: 25%;
}
.col-3 > *:first-child, .col-sm-3 > *:first-child {
  margin-top: 0;
}
.col-3 > *:last-child, .col-sm-3 > *:last-child {
  margin-bottom: 0;
}

.offset-3 {
  margin-left: 25%;
}

@media (max-width: 768px) {
  .col-sm-3 {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
    vertical-align: top;
    width: 100%;
  }
  .col-sm-3 > *:first-child {
    margin-top: 0;
  }
  .col-sm-3 > *:last-child {
    margin-bottom: 0;
  }
}
.col-4, .col-sm-4 {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  padding: 0 10px;
  margin: 0;
  font-size: 16px;
  vertical-align: top;
  width: 33.3333333333%;
}
.col-4 > *:first-child, .col-sm-4 > *:first-child {
  margin-top: 0;
}
.col-4 > *:last-child, .col-sm-4 > *:last-child {
  margin-bottom: 0;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

@media (max-width: 768px) {
  .col-sm-4 {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
    vertical-align: top;
    width: 100%;
  }
  .col-sm-4 > *:first-child {
    margin-top: 0;
  }
  .col-sm-4 > *:last-child {
    margin-bottom: 0;
  }
}
.col-5, .col-sm-5 {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  padding: 0 10px;
  margin: 0;
  font-size: 16px;
  vertical-align: top;
  width: 41.6666666667%;
}
.col-5 > *:first-child, .col-sm-5 > *:first-child {
  margin-top: 0;
}
.col-5 > *:last-child, .col-sm-5 > *:last-child {
  margin-bottom: 0;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

@media (max-width: 768px) {
  .col-sm-5 {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
    vertical-align: top;
    width: 100%;
  }
  .col-sm-5 > *:first-child {
    margin-top: 0;
  }
  .col-sm-5 > *:last-child {
    margin-bottom: 0;
  }
}
.col-6, .col-sm-6 {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  padding: 0 10px;
  margin: 0;
  font-size: 16px;
  vertical-align: top;
  width: 50%;
}
.col-6 > *:first-child, .col-sm-6 > *:first-child {
  margin-top: 0;
}
.col-6 > *:last-child, .col-sm-6 > *:last-child {
  margin-bottom: 0;
}

.offset-6 {
  margin-left: 50%;
}

@media (max-width: 768px) {
  .col-sm-6 {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
    vertical-align: top;
    width: 100%;
  }
  .col-sm-6 > *:first-child {
    margin-top: 0;
  }
  .col-sm-6 > *:last-child {
    margin-bottom: 0;
  }
}
.col-7, .col-sm-7 {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  padding: 0 10px;
  margin: 0;
  font-size: 16px;
  vertical-align: top;
  width: 58.3333333333%;
}
.col-7 > *:first-child, .col-sm-7 > *:first-child {
  margin-top: 0;
}
.col-7 > *:last-child, .col-sm-7 > *:last-child {
  margin-bottom: 0;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

@media (max-width: 768px) {
  .col-sm-7 {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
    vertical-align: top;
    width: 100%;
  }
  .col-sm-7 > *:first-child {
    margin-top: 0;
  }
  .col-sm-7 > *:last-child {
    margin-bottom: 0;
  }
}
.col-8, .col-sm-8 {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  padding: 0 10px;
  margin: 0;
  font-size: 16px;
  vertical-align: top;
  width: 66.6666666667%;
}
.col-8 > *:first-child, .col-sm-8 > *:first-child {
  margin-top: 0;
}
.col-8 > *:last-child, .col-sm-8 > *:last-child {
  margin-bottom: 0;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

@media (max-width: 768px) {
  .col-sm-8 {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
    vertical-align: top;
    width: 100%;
  }
  .col-sm-8 > *:first-child {
    margin-top: 0;
  }
  .col-sm-8 > *:last-child {
    margin-bottom: 0;
  }
}
.col-9, .col-sm-9 {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  padding: 0 10px;
  margin: 0;
  font-size: 16px;
  vertical-align: top;
  width: 75%;
}
.col-9 > *:first-child, .col-sm-9 > *:first-child {
  margin-top: 0;
}
.col-9 > *:last-child, .col-sm-9 > *:last-child {
  margin-bottom: 0;
}

.offset-9 {
  margin-left: 75%;
}

@media (max-width: 768px) {
  .col-sm-9 {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
    vertical-align: top;
    width: 100%;
  }
  .col-sm-9 > *:first-child {
    margin-top: 0;
  }
  .col-sm-9 > *:last-child {
    margin-bottom: 0;
  }
}
.col-10, .col-sm-10 {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  padding: 0 10px;
  margin: 0;
  font-size: 16px;
  vertical-align: top;
  width: 83.3333333333%;
}
.col-10 > *:first-child, .col-sm-10 > *:first-child {
  margin-top: 0;
}
.col-10 > *:last-child, .col-sm-10 > *:last-child {
  margin-bottom: 0;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

@media (max-width: 768px) {
  .col-sm-10 {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
    vertical-align: top;
    width: 100%;
  }
  .col-sm-10 > *:first-child {
    margin-top: 0;
  }
  .col-sm-10 > *:last-child {
    margin-bottom: 0;
  }
}
.col-11, .col-sm-11 {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  padding: 0 10px;
  margin: 0;
  font-size: 16px;
  vertical-align: top;
  width: 91.6666666667%;
}
.col-11 > *:first-child, .col-sm-11 > *:first-child {
  margin-top: 0;
}
.col-11 > *:last-child, .col-sm-11 > *:last-child {
  margin-bottom: 0;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

@media (max-width: 768px) {
  .col-sm-11 {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
    vertical-align: top;
    width: 100%;
  }
  .col-sm-11 > *:first-child {
    margin-top: 0;
  }
  .col-sm-11 > *:last-child {
    margin-bottom: 0;
  }
}
.col-12, .col-sm-12 {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  padding: 0 10px;
  margin: 0;
  font-size: 16px;
  vertical-align: top;
  width: 100%;
}
.col-12 > *:first-child, .col-sm-12 > *:first-child {
  margin-top: 0;
}
.col-12 > *:last-child, .col-sm-12 > *:last-child {
  margin-bottom: 0;
}

.offset-12 {
  margin-left: 100%;
}

@media (max-width: 768px) {
  .col-sm-12 {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
    vertical-align: top;
    width: 100%;
  }
  .col-sm-12 > *:first-child {
    margin-top: 0;
  }
  .col-sm-12 > *:last-child {
    margin-bottom: 0;
  }
}
/* breakpoints for media queries */
/* colours */
@font-face {
  font-family: Cascadia Mono-SemiLight;
  src: url(/fonts/CascadiaMono.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Cascadia Code-SemiLight;
  src: url(/fonts/CascadiaCode.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
pre {
  line-height: 1.2;
  /* Give it some space to breathe */
  padding: 12px;
  margin-bottom: 3rem;
  /* Important to allow the code to move horizontally; */
  overflow: auto;
  position: relative;
}

pre:has(code.language-twoslash) {
  display: none;
}

pre.shiki {
  overflow: auto;
}

pre.shiki .logger.log-log {
  background-color: #e9e9e9;
  border-left: 2px solid #ababab;
}

pre.shiki .logger {
  display: flex;
  align-items: center;
  color: #000;
  padding: 6px 6px 6px 8px;
  width: calc(100% - 19px);
  white-space: pre-wrap;
}

pre .code-container {
  overflow: none;
}

/* Handle scrolling, and showing code correctly */
pre code {
  white-space: pre;
  -webkit-overflow-scrolling: touch;
}

/* Let errors use the outer shiki for their absolute sizing, and not be affected by the scrolling of the code */
pre data-err {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%206%203'%20enable-background%3D'new%200%200%206%203'%20height%3D'3'%20width%3D'6'%3E%3Cg%20fill%3D'%23c94824'%3E%3Cpolygon%20points%3D'5.5%2C0%202.5%2C3%201.1%2C3%204.1%2C0'%2F%3E%3Cpolygon%20points%3D'4%2C0%206%2C2%206%2C0.6%205.4%2C0'%2F%3E%3Cpolygon%20points%3D'0%2C2%201%2C3%202.4%2C3%200%2C0.6'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") repeat-x bottom left;
  padding-bottom: 3px;
}

/* In order to have the 'popped out' style design and to not break the layout
/* we need to place a fake and un-selectable copy of the error which _isn't_ broken out
/* behind the actual error message.
/* This section keeps both of those in sync  */
pre .error,
pre .error-behind {
  margin-left: -20px;
  margin-top: 8px;
  margin-bottom: 4px;
  padding: 6px;
  padding-left: 14px;
  white-space: pre-wrap;
  display: block;
}

pre .error {
  position: absolute;
  background-color: #ffeeee;
  border-left: 2px solid #bf1818;
  width: calc(100% - 14px);
  /* Give the space to the error code  */
  display: flex;
  align-items: center;
  color: black;
}

pre .error .code {
  display: none;
}

pre .error-behind {
  user-select: none;
  color: #ffeeee;
}

data-lsp {
  /* Ensures there's no 1px jump when the hover happens above */
  border-bottom: 1px dotted transparent;
  /* Fades in unobtrusively */
  transition-timing-function: ease;
  transition: border-color 0.3s;
}

/* Respect people's wishes to not have animations */
@media (prefers-reduced-motion: reduce) {
  data-lsp {
    transition: none;
  }
}
/** When you mouse over the pre, show the underlines */
pre:hover data-lsp {
  border-color: #747474;
}

/** The tooltip-like which provides the LSP response */
#twoslash-mouse-hover-info {
  background-color: #3f3f3f;
  color: #fff;
  text-align: left;
  padding: 5px 8px;
  border-radius: 2px;
  font-family: "JetBrains Mono", Menlo, Monaco, Consolas, Courier New, monospace;
  font-size: 14px;
  white-space: pre-wrap;
}

.language-id {
  display: none;
}

pre .code-container > a {
  display: none;
}

pre.shiki:hover .dim {
  opacity: 1;
}

pre.shiki div.dim {
  opacity: 0.5;
}

pre.shiki div.dim, pre.shiki div.highlight {
  margin: 0;
  padding: 0;
}

pre.shiki div.highlight {
  opacity: 1;
}

@media screen and (max-width: 740px) {
  pre.shiki {
    margin-left: -20px;
    margin-right: -20px;
    border-radius: 0;
    box-shadow: 5px 5px 18px #3f499f, -5px -5px 18px #3f499f;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 80%;
  }
  pre.shiki .code-container {
    overflow-x: scroll;
    overflow-y: hidden;
  }
  pre.shiki .line {
    white-space: pre;
  }
}
code,
pre {
  font-family: "Cascadia Mono-SemiLight", Menlo, Monaco, Consolas, monospace;
  padding: 0.2em;
  margin: 0;
  font-size: 85%;
  white-space: pre-wrap;
  background-color: rgba(0, 0, 0, 0.04);
}

pre {
  padding: 15px;
  border-radius: 4px;
}

pre code {
  padding: 0;
  font-size: 100%;
  background-color: transparent;
  text-align: left;
}

* {
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background-color: #fff;
  color: #3f499f;
}

::selection {
  background-color: #fff;
  color: #3f499f;
}

html {
  background-color: rgb(78, 91, 190);
}

body {
  text-align: center;
  color: #ecedf5;
  font-family: "ITC Avant Garde Gothic Std Book", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.8;
  min-height: 100vh;
}
@media (min-width: 400px) {
  body {
    font-size: 18px;
  }
}
body:not(.home) {
  background-color: #3f499f;
  background: #3f499f;
  background: url("https://sembeacon.org/images/bg-grid.png"), linear-gradient(320deg, #3f499f 0%, rgb(78, 91, 190) 100%);
}

img.logo {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: left;
}
@media (min-width: 740px) {
  .container {
    width: 650px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 750px;
  }
}

h1, h2, h3 {
  color: #fff;
  font-weight: 400;
  margin-top: 2em;
  margin-bottom: 0.2em;
  line-height: 1;
}

h1 {
  font-size: 1.5em;
  margin-top: 0.4em;
  margin-bottom: 0.2em;
  line-height: 1;
}
@media (min-width: 740px) {
  h1 {
    font-size: 2em;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 3em;
  }
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.subtitle {
  font-size: 1.2em;
  margin-top: 1em;
  margin-bottom: 2.5em;
}

ul, ol {
  padding-left: 1em;
}

a:link,
a:visited {
  color: #fff;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #717ccb;
}

a:hover,
a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

.nakedLink a:link,
.nakedLink a:visited,
.nakedLink a:hover,
.nakedLink a:focus {
  border-bottom-style: none;
}

header nav ul {
  padding-top: 3em;
}
header nav ul li {
  display: inline;
}
header nav ul a:link,
header nav ul a:visited {
  display: inline-block;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #959dd8;
  border-bottom-style: none;
  padding-top: 0.8em;
  padding-bottom: 2em;
  margin-left: 0;
  margin-right: 0.7em;
  width: 7em;
  text-align: left;
  color: #dcdef2;
  text-decoration: none;
}
header nav ul a:hover,
header nav ul a:focus {
  color: #fff;
  border-top-color: #fff;
  border-bottom-style: none;
}
header nav ul small {
  display: block;
  font-size: 0.7em;
  color: #b8bde5;
}
code {
  font-size: 0.8em;
  background-color: #dcdef2;
  color: rgb(42, 65, 77);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 4px;
  white-space: nowrap;
}

.date {
  font-size: 0.8em;
  font-style: italic;
}

main {
  margin-top: 4em;
}

pre {
  overflow: auto;
  border-radius: 6px;
}
pre code {
  border-style: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

footer {
  display: flex;
  margin-top: 6em;
  padding-top: 4em;
  padding-bottom: 6em;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #606bc5;
  font-size: 0.7em;
  color: #a7addf;
}
footer div.col {
  float: left;
}
footer div.col p:nth-child(1) {
  margin-top: 0;
}
footer a:link,
footer a:visited {
  color: #edeff9;
  border-bottom: solid 1px #4a56b5;
}
footer a:hover,
footer a:focus {
  color: #fff;
  border-bottom: solid 1px #fff;
}
footer div.logo {
  width: 64px;
  height: 64px;
  margin-right: 1.5em;
  background-color: #a7addf;
  -webkit-mask: url("https://sembeacon.org/images/logo_square_alpha.svg") no-repeat center;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask: url("https://sembeacon.org/images/logo_square_alpha.svg") no-repeat center;
}
footer div.logo:hover {
  background-color: #dcdef2;
}

div.background {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #3f499f;
  overflow: hidden;
}

img.logo-example {
  background: white;
  max-height: 150px;
  max-width: 100%;
  border-radius: 1em;
  padding: 1em;
  display: block;
}
img.logo-example:not(:first-child) {
  margin-top: 1.5em;
}

img.logo-example.alpha {
  background: rgb(29, 29, 29);
}

a.logo-download {
  font-size: 0.6em;
  padding: 0.4em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  color: black;
  background-color: #dcdef2;
  border-radius: 0.5em;
  text-decoration: none;
  margin-top: 0.5em;
  margin-bottom: 2em;
}
a.logo-download:hover {
  background-color: #b8bde5;
}

table th, td {
  border: solid 1px #b8bde5;
  padding: 0.5em;
}

iframe.presentation {
  width: 100%;
  height: 300px;
  border: 0;
}
/*# sourceMappingURL=styles.css.map */