<nav class="navigation">
  <ul>
    {% for doc in collections.sorted_docs %}
      <li {% if page.url == doc.url %}class="selected"{% endif %}>
        <a href="{{ doc.url }}" {% if page.url == doc.url %}class="current"{% endif %}>{{ doc.data.title }}</a>
        {% if page.url == doc.url %}
        {{ content | toc | safe }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>