<footer>
  <div class="col">
    <a href="/"><div class="logo"></div></a>
  </div>
  <div class="col">
    <p>
      © 2022 - Maxim Van de Wynckel, Vrije Universiteit Brussel. Licensed under <a target="_blank" href="https://opensource.org/licenses/MIT">MIT</a>.
    </p>
    <p>
      This page was last edited on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
    </p>
  </div>
</footer>
