<footer>
  <div class="col">
    <a href="/"><div class="logo"></div></a>
  </div>
  <div class="col">
    <p>
      © 2022 - 2024 | Maxim Van de Wynckel, Vrije Universiteit Brussel. Licensed under <a target="_blank" href="https://github.com/SemBeacon/specification/blob/main/LICENSE">Apache 2.0</a>.
    </p>
    <p>
      This page was last edited on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
    </p>
  </div>
</footer>
