<header>
  <nav>
    <ul>
      <li>
        <a href="{{ '/' | absoluteUrl }}">Home</a>
      </li>
      <li>
        <a href="{{ '/about/' | absoluteUrl }}">About</a>
      </li>
      <li>
        <a href="{{ '/docs/' | absoluteUrl }}">Docs</a>
      </li>
      <li>
        <a href="{{ '/tools/' | absoluteUrl }}">Tools</a>
      </li>
    </ul>
  </nav>
  <div class="alert alert-warn">
    <h3>This website including all repositories related to SemBeacon are anonymised during the blind review process of UbiComp2023. Text that appears showing
      "XXXX" will be replaced for the actual release.
    </h3>
  </div>
</header>
