<header>
  <nav>
    <ul>
      <li>
        <a href="{{ '/' | absoluteUrl }}">Home</a>
      </li>
      <li>
        <a href="{{ '/about' | absoluteUrl }}">About</a>
      </li>
      <li>
        <a href="{{ '/docs' | absoluteUrl }}">Docs</a>
      </li>
      <li>
        <a href="{{ '/tools' | absoluteUrl }}">Tools</a>
      </li>
    </ul>
  </nav>
</header>
