<header>
  <nav>
    <ul>
      <li>
        <a href="{{ '/' | absoluteUrl }}">Home</a>
      </li>
      <li>
        <a href="{{ '/about/' | absoluteUrl }}">About</a>
      </li>
      <li>
        <a href="{{ '/docs/' | absoluteUrl }}">Docs</a>
      </li>
      <li>
        <a href="{{ '/tools/' | absoluteUrl }}">Tools</a>
      </li>
    </ul>
  </nav>
  <div class="alert alert-warn">
    <h3>This website including all repositories related to SemBeacon are anonymised during the blind review process. Text that appears showing
      "XXXX" will be replaced for the actual release. External links to the repositories will not work, use the anonymised versions in the paper instead.
    </h3>
  </div>
</header>
