---
layout: layouts/default.njk
---
<div class="container main typography home">
  <div class="row">
    <div class="col-sm-7">
        {{ content | safe }}
    </div>
    <div class="col-sm-5">      
        {% set maxPosts = collections.posts.length | min(3) %}
        <h2>Latest News</h2>
        {% set postslist = collections.posts | head(-3) %}
        {% include "postslist.njk" %}
    </div>
  </div>
</div>