---
layout: layouts/presentation.njk
title: "Discovering Indoor Environments and Positioning Systems"
author: Maxim Van de Wynckel
affiliation: Web & Information Systems Engineering Lab</br>Vrije Universiteit Brussel
width: 1280
height: 720
hide_title_slide: true
---
    <style>
    .header img.inline, h2.inline {
        display: inline-block;
        vertical-align: top;
    }
    .header img.inline {
        height: 3em;
    }
        .header img.inline.small {
        height: 2em;
        margin-top: 1em;
    }
    .header .license-badge {
        height: 3em;
        display: inline-block;
        line-height: 3em;
        position: absolute;
        right: 0;
        top: 1em;
    }
    .header h2.inline.arrow {
        font-size: 2em;
        margin: 0 1em;
        line-height: 2em;
        vertical-align: middle;
    }
    .header .license-badge img {
        margin-left: 2em;
        transform: scale(2);
    }

    h3.center {
        text-align: center;
    }
</style>

<section class="title-slide center" data-timing="15">
    <style>
    .slide-cover {
        display: block;
        position: absolute;
        top: -20%;
        left: -20%;
        width: 140%;
        height: 60%;
        background: linear-gradient(to bottom, transparent 80%, white 95%);
    }
    .slide-cover-background {
        background-image: url('./images/cover.png');
        background-position: center;
        background-size: cover;
        width: 99%;
        height: 99%;
        opacity: 0.2;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    #fosdem-logo {
        width: 20%;
        background-image: url(./images/FOSDEM_logo.svg);
    }
    </style>
    <div class="slide-cover">
        <div class="slide-cover-background"></div>
    </div>
    <div class="slide-wrapper">
        <div class="logos">
            <div id="vub-logo"></div>
            <div id="wise-logo"></div>
            <div id="fosdem-logo"></div>
        </div>
        <h2 id="label-title">
        {% if presentation_title %}
            {{ presentation_title | safe }}
        {% else %}
            {{ title }}
        {% endif %}
            <small id="label-subtitle">{{ subtitle }}</small>
        </h2>
        <h5 class="author">{{ author | safe }}</h5>
        <h5 class="affiliation">{{ affiliation | safe }}</h5>
    </div>
    <aside class="notes">
        Hello, my name is Maxim Van de Wynckel and today I will present to you one of the goals
        I aim to achieve. Which is the discovering of indoor environments and positioning systems.
    </aside>
</section>

<section>
    <h2>About me</h2>
    <style>
        .about-me {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            text-align: left;
        }
        .about-me img.profile {
            border-radius: 50%;
            width: 260px;
            height: 260px;
            object-fit: cover;
            margin: 20px;
            margin-right: 40px;
            box-shadow: 0 0 150px rgba(0, 0, 0, 0.3);
            border: 1px solid rgba(0, 0, 0, 0.1);
        }
        .about-me h3 {
            display: block;
        }
        .about-me p {
            font-size: 1.1em;
            line-height: 1.5;
        }
        .about-me ul {
            margin-top: 1em;
            list-style: none !important;
            padding: 0;
        }
        .about-me ul li::before {
            content: none;
            margin-bottom: 0.5em;
        }
        .about-me span {
            font-weight: bold;
            margin-right: 0.5em;
            margin-left: 0.5em;
        }
        .about-me span::after {
            content: ':';
        }
        .about-me i {
            width: 1em;
        }
        .projects {
            margin-top: 2em;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
        }
        .projects img {
            width: 400px;
            height: auto;
            margin: 10px;
        }
        .projects img:nth-child(2) {
            height: 80px;
        }
    </style>

    <div class="about-me">
        <img class="profile" src="https://maximvdw.be/images/profile/maxim.png" alt="Profile Picture">
        <div>
            <ul>
                <li><i class="fas fa-user"></i><span>Maxim Van de Wynckel</span></li>
                <li><i class="fas fa-envelope"></i><span>E-mail</span><a href="mailto:mvdewync@vub.be">mvdewync@vub.be</a></li>
                <li><i class="fas fa-globe"></i><span>Website</span><a href="https://maximvdw.be" target="_blank">https://maximvdw.be</a></li>
                <li><i class="fas fa-briefcase"></i><span>Position</span>Researcher at VUB</li>
                <li><i class="fas fa-search-location"></i><span>Interests</span>Indoor positioning systems, linked data, and interoperability of location data</li>
            </ul>
        </div>
    </div>
    <div class="projects">
        <img src="https://openhps.org/images/logo.svg" alt="OpenHPS Logo">
        <img src="https://raw.githubusercontent.com/OpenHPS/POSO/refs/heads/main/1.1/docs/images/logo.svg" alt="POSO Logo">
        <img src="https://sembeacon.org/images/logo.svg" alt="SemBeacon Logo">
    </div>
    <aside class="notes">
        To give you a brief introduction about myself, I am Maxim Van de Wynckel, a researcher at the Vrije Universiteit Brussel. 
        My research interests include indoor positioning systems, linked data, and interoperability of location data. 
        I am involved in several open source projects, including OpenHPS, POSO, and SemBeacon some of which I will discuss today.

        One of my personal goals with these projects is to create a world were indoor positioning systems and environemnts are as 
        easily accessible as outdoor positioning systems.
    </aside>
</section>

<section>
    <h2>Current state of geospatial data</h2>
    <div class="row">
        <div class="col-sm-6">
            <h3 class="center">Outdoor data</h3>
            <img src="./images/service-centric.svg" alt="Service-centric geospatial data">
        </div>
        <div class="col-sm-6">
            <h3 class="center">Indoor data</h3>
            <img src="./images/service-centric-indoor.svg" alt="Service-centric geospatial data">
        </div>
    </div>
    <aside class="notes">
        The current state of outdoor geospatial data is service-centric. This means that you can easily access the data you need through predefined services.
        For outdoor data, this is straightfoward as the data is well known and in most cases publicly available.
        Some services may provide more detailed information, but regardless on which service you use, you are always able to access some
        form of data pertaining to a location.

        However, when it comes to indoor data, the situation is quite different. While there are services that collect geospatial data of indoor environments,
        they are not yet as complete as their outdoor counterparts. In a way, this makes sense, since indoor environments are more complex and diverse than outdoor environments.
        Users or building owners may not want to share their data with the public, which makes it harder to collect and share indoor geospatial data and to govern
        who publishes this data.
    </aside>
</section>

<section>
    <h2>Current state of positioning systems</h2>
    <div class="row">
        <div class="col-sm-6">
            <h3 class="center">Outdoor</h3>
            <img width="70%" src="./images/gps.svg" alt="GPS">
        </div>
        <div class="col-sm-6">
            <h3 class="center">Indoor</h3>
            <img width="75%" src="./images/question.svg" alt="Question">
        </div>
    </div>
    <aside class="notes">
        A similar story can be told about positioning systems. Outdoor positioning systems are well known and widely used. 
        The Global Positioning System (GPS) is a prime example of this. If we are outdoors, we can easily determine our location using this single technology.

        Again, indoors the situation is quite different. There are several technologies that can be used to determine your location indoors,
        but none of them are as widely used or standardised as GPS. This makes it hard for developers to create applications that work indoors as well as outdoors
        and often leads to navigation applications that only work for one particular building, framework or event.
    </aside>
</section>

<section>
    <h2>Geospatial-centric service discovery</h2>
    <p>
        The future of geospatial services lies in its discovery through the very locations it represents, rather than predefined services.
    </p>
    <img src="./images/geospatial-centric.svg" alt="Geospacial-centric data discovery">
    <aside class="notes">
        My vision is to create a world where geospatial services are discovered through the very locations they represent, 
        rather than using predefined services. Or in other words, decentralised geospatial data discovery.

        This means that when you are in a particular location, you can discover the services that are available in that location.
        Simply said, you could assume that you do a kind of geospatial query on your location and receive a list of services that are available in that location.
    </aside>
</section>

<section>
    <h2>Geospatial-centric service discovery ...</h2>
    <h3>Challenge 1</h3>
    <p>
        How to discover services in a location without relying on a discovery service?
    </p>
    <img width="600px" src="./images/find.svg" alt="Find services in a location">
    <aside class="notes">
        There are a couple of problems or challenges associated with this. First of all, we want to discover
        these services without relying on a centralised discovery service. This would completely defeat the purpose of 
        decentralised geospatial data discovery.

        This also entails that whatever method we use to discover this data should be as easy
        as possible for both users and developers.
    </aside>
</section>

<section>
    <h2>Geospatial-centric service discovery ...</h2>
    <h3>Challenge 2</h3>
    <p>
        How to interface with the discovered service(s)?
    </p>
    <img width="600px" src="./images/find_interface.svg" alt="Interface with services in a location">
    <aside class="notes">
        The second challenge is that once we discover services that can provide us with indoor data and positioning systems,
        we need to collect that data in a way that again does not require specific implementations for each service that is out there.
    </aside>
</section>

<section>
    {% markdown %}
        ## Local data discovery
        > Find data locally **<u>at</u>** a particular location
        ![](./images/local-discovery.svg){$ width="100%" $}
    {% endmarkdown %}
    <aside class="notes">
        
    </aside>
</section>

<section>
    {% markdown %}
        ## Global data discovery
        > Find data globally **<u>using</u>** a particular location
        ![](./images/global-discovery.svg){$ width="100%" $}
    {% endmarkdown %}
    <aside class="notes">
    
    </aside>
</section>

<section>
    <div class="header">
        <img src="https://openhps.org/images/logo.svg" class="inline" alt="OpenHPS Logo">
        <div class="license-badge">
            <img src="https://img.shields.io/badge/license-Apache%202.0-blue.svg" alt="License: Apache-2.0">
        </div>
    </div>
    <img src="https://openhps.org/slides/fosdem2022/images/architecture3.svg" height="400px" alt="OpenHPS Architecture">
    <p>For more information, visit the <a href="https://archive.fosdem.org/2022/schedule/event/lt_openhps/" target="_blank">FOSDEM 2022 talk of OpenHPS</a>.</p>
    <aside class="notes">
        The first project I briefly wanted to introduce is OpenHPS. OpenHPS is an open source framework for hybrid positioning systems.
        I will not delve into the details, since it was already covered at a previous FOSDEM talk - but in general you should know
        that it is a TypeScript framework to create positioning systems.

        One issue we noticed after its development was that it was hard to share data between different positioning systems
        or different frameworks. This is where POSO comes in.
    </aside>
</section>

<section>
    <div class="header">
        <img src="https://raw.githubusercontent.com/OpenHPS/POSO/refs/heads/main/1.1/docs/images/logo.svg" class="inline small" alt="OpenHPS Logo">
        <div class="license-badge">
            <img src="https://img.shields.io/badge/license-MIT-green.svg" alt="License: MIT">
        </div>
    </div>
    <img src="https://openhps.org/slides/iswc2022/images/example.svg" height="500px" alt="POSO Example">
    <aside class="notes">
        POSO is a linked data ontology to describe positioning systems, the data they produce and the environments they are used in.
    </aside>
</section>

<section>
    <div class="header">
        <img src="https://openhps.org/images/logo.svg" class="inline" alt="OpenHPS Logo">
        <h2 class="inline arrow">&rarr;</h2>
        <img src="https://raw.githubusercontent.com/OpenHPS/POSO/refs/heads/main/1.1/docs/images/logo.svg" class="inline small" alt="POSO Logo">
    </div>
    <h3>@openhps/rdf</h3>
    {% markdown %}
        - RDF data model for OpenHPS
        - POSO integration
        - Serialisation and deserialisation

        ```typescript
        const position = new GeographicalPosition();
        console.log(RDFSerializer.serialize(position));
        ```
    {% endmarkdown %}
    <aside class="notes">
        Developers are not always eager to want to work with linked data to store information, especially for realtime applications
        such as positioning systems. This is why we created the @openhps/rdf package. It basically provides a mapping form
        the OpenHPS data model to RDF and back. This allows developers to easily store their data in a linked data format without
        specifically needing to know how linked data works. Furthermore, they can query the data is if they are querying 
        a MongoDB database, which is a lot more familiar to most developers.

        With this project we focus on positioning systems, geospatial data and observational data such as locations.
    </aside>
</section>

<section>
    <div class="header">
        <img src="https://openhps.org/images/logo.svg" class="inline" alt="OpenHPS Logo">
        <h2 class="inline arrow">&rarr;</h2>
        <img src="https://raw.githubusercontent.com/OpenHPS/POSO/refs/heads/main/1.1/docs/images/logo.svg" class="inline small" alt="POSO Logo">
        <h2 class="inline arrow">&rarr;</h2>
        <img src="./images/solid.svg" class="inline" alt="Solid project Logo">
    </div>
    <h3>@openhps/solid</h3>
    {% markdown %}
        - Solid storage and access control
        - Solid as a communication broker
    {% endmarkdown %}
    <aside class="notes">
        With the @openhps/rdf package we already had a way to store our data in a linked data format. However, if we talk about personal data
        or data that needs to be governed by a user, we also need a proper way to store this data. This is where the Solid project comes into place.

        For those who are unfamiliar with Solid, it is a project that allows users to store their data in a decentralised way. The data can be binary
        data, but also structured linked data. Users can assign access rights to the data so that only certain applications or users can access it.

        In addition to this, Solid offers specifications that enable applications to listen for changes in data - which is perfect for realtime applications
        such as positioning systems that want to use Solid as a communication broker.
    </aside>
</section>

<section>
    <div class="header">
        <h2 class="inline">SemBeacon</h2>
        <div class="license-badge">
            <img src="https://img.shields.io/badge/license-Apache%202.0-blue.svg" alt="License: Apache-2.0">
        </div>
    </div>
    <img src="/slides/iot2023/images/sembeacon_architecture_large.svg" width="85%" alt="SemBeacon Architecture">
    <aside class="notes">
        The basic principle of our semantic beacon solution called SemBeacon is a Bluetooth Low Energy beacon that
        advertises two identifiers and a set of flags. Compatible applications that have no information about this beacon
        or the data it contains can then ask to retrieve an additional URI that redirects to linked data on the Web containing 
        more information about the beacon, its position and more importantly also its environment.

        In our semantic data we can make use of existing and extended vocabularies such as the POSO ontology,
        GeoSPARQL, sensors and observations ontology. By using these existing vocabularies, SemBeacon becomes
        merely a communication protocol to make nearby devices aware of the data, and what they can expect when they
        visit the URI.
    </aside>
</section>


<section data-markdown data-timing="50">
    {% markdown %}
        ## <span class="light">SemBeacon <i class="fa-solid fa-chevron-right"></i></span> Bluetooth Specification
        ### BLE 4.X
        ![SemBeacon specification for BLE v4.x](../iot2023/images/specification_BLE4.svg){ width=80% }
    {% endmarkdown %}
    <aside class="notes">
        Our main solution in general consists of an AltBeacon advertisement with a namespace and instance identifier, a set of flags 
        which we will discuss in a moment and an Eddystone-URL compatible scan response.
        It is the combination of the advertisement data along with the eddystone-url scan response that makes up SemBeacon.

        Similar to Eddystone-URL we perform encoding of the short URI without further extensions in order to prevent
        backwards compatibility with existing libraries that can scan for Eddstone.
    </aside>
</section>

<section data-markdown class="flags" data-timing="60">
    <style>
        section.flags table {
            font-size: 80%;
        }
    </style>
    {% markdown %}
        ## <span class="light">SemBeacon <i class="fa-solid fa-chevron-right"></i></span> Bluetooth Specification
        ### Flags
        Based on UriBeacon, Bluetooth IPS and Eddystone frames

        | **Bit (MSB)** | **Description** | **Example** |
        |---|---|---|
        | 0 | Indicates if the beacon has a position. | 0 = Unsure, 1 = Yes |
        | 1 | Indicates if the beacon is private. | 0 = Public, 1 = Private |
        | 2 | Indicates if the beacon is attached to a moving object. | 0 = No, 1 = Yes |
        | 3 | Indicates if the beacon has a positioning system. | 0 = No, 1 = Yes |
        | 4 | Indicates if the beacon has telemetry data. | 0 = No, 1 = Yes |
        | 5 - 7 | *Reserved for future use.* ||
    {% endmarkdown %}
    <aside class="notes">
        Our flags are based on the invisibility flag of UriBeacon and its use cases, the flags and data of the Bluetooth IPS
        service and finally the use cases of the Eddystone frames. These flags should be configured when setting up a device and
        do not offer any dynamic information. 

        For example, the position flag would be set to 1 when, during the installation it is clear the beacon will
        have a fixed position, which would be the case when mounted on wall. Similarly we have other flags that can be decided
        on during initial setup based on the use case for the SemBeacon.

        We introduced these flags in order to still provide applications with context on the type of beacon without requiring
        them to perform an HTTP request. For example, an application that only aims to navigate within a building should
        not access moveable objects without a position, as these will not be useful.
    </aside>
</section>


<section data-markdown data-timing="50">
    {% markdown %}
        ## <span class="light">SemBeacon <i class="fa-solid fa-chevron-right"></i></span> Bluetooth Specification
        ### BLE 5.X
        ![SemBeacon specification for BLE v5.x](../iot2023/images/specification_BLE5.svg){ width=80% }
    {% endmarkdown %}
    <aside class="notes">
        In addition to our backwards compatible BLE 4 advertisement we also have a work in progress BLE 5 advertisement specification.
        With the increased payload size for BLE 5 advertisements we can include both the namespace and instance identifiers and uri
        within a single advertisement.

        As we no longer have to ensure Eddystone-URL compatibility, we also extended the encoding for the the URI to enable
        a smaller payload for common linked data URIs, versioning, and a larger URI in general which could negate the need for 
        URL shorteners.

        BLE 5 advertisements offer better range compared to legacy BLE 4 advertisements which is useful for positioning. Our arduino
        library already offers the capabilities to use this new service on newer BLE 5 compatible ESP32 hardware for both scanning
        and advertising. However, our mobile application currently does not scan for BLE 5 advertisements yet.
    </aside>
</section>


<section data-markdown>
    <style>
        .screenshots {
            margin-top: 1em;
        }
        .screenshots img {
            border-radius: 0.5em;
            box-shadow: 0 0 20px rgba(0,0,0,0.5);
        }
        .fragment.fade-up-slow {
            transform: translate(0,200px);
        }
        .fragment.fade-up-slow.visible {
            transform: translate(0,0);
        }
    </style>
    {% markdown %}
        ## <span class="light">SemBeacon <i class="fa-solid fa-chevron-right"></i></span> Mobile Application
        - **Scans** and **Simulates** SemBeacon, iBeacon, AltBeacon and Eddystone
        - **Extracts** and visualises SemBeacon encoded information
        - Implements HTTP **caching** and namespace mapping to environments
        <div class="row screenshots">
            <div class="col-3">
                <img class="fragment fade-up-slow" data-autoslide="200" src="/images/android-app/Screenshot_20231027_164519_SemBeacon.jpg" width="100%">
            </div>
            <div class="col-3">
                <img class="fragment fade-up-slow" data-autoslide="400" src="/images/android-app/Screenshot_20231027_174719_SemBeacon.jpg" width="100%">
            </div>
            <div class="col-3">
                <img class="fragment fade-up-slow" data-autoslide="600" src="/images/android-app/Screenshot_20231027_164555_SemBeacon.jpg" width="100%">
            </div>
            <div class="col-3">
                <img class="fragment fade-up-slow" data-autoslide="800" src="/images/android-app/Screenshot_20231027_180046_SemBeacon.jpg" width="100%">
            </div>
        </div>
    {% endmarkdown %}
    <aside class="notes">
        Part of our demonstrator included the creation of a demonstrator application that can actually
        scan for SemBeacons, interpret the data and visualise it. If you want to test how SemBeacon
        works you can download the demonstrator to simulate a sembeacon.
    </aside>
</section>

<section data-markdown data-timing="70">
    {% markdown %}
        ## Conclusion and Future Work
        - test
    {% endmarkdown %}
    {% qr "https://sembeacon.org/posts/2025/02/01/", "qr-image", "H" %}
    <ul class="info">
        <li><i class="fa-brands fa-github"></i> <a href="https://github.com/SemBeacon/">https://github.com/SemBeacon/</a></li>
        <li><i class="fa-solid fa-book"></i> <a href="https://sembeacon.org/">https://sembeacon.org/</a></li>
        <li><i class="fa-solid fa-book"></i> <a href="https://openhps.org/">https://openhps.org/</a></li>
        <li><i class="fa-solid fa-book"></i> <a href="https://poso.openhps.org/">https://poso.openhps.org/</a></li>
        <li><i class="fa-brands fa-google-play"></i> <a href="https://play.google.com/store/apps/details?id=org.sembeacon">Android App on Google Play Store</a></li>
    </ul>
    <style>
    .qr-image {
        position: absolute;
        left: 0em;
        bottom: 1em;
        width: 300px;
        height: 300px;
        float: right;
    }
    ul.info {
        font-size: 1.1em;
        position: absolute;
        left: 300px;
        bottom: 80px;
        list-style-type: none;
    }
    ul.info li i {
        width: 50px;
    }
    ul.info li::before {
        content: none;
    }
    </style>
    <aside class="notes">

    </aside>
</section>   

