@font-face {
  font-family: Cascadia Mono-SemiLight;
  src: url(/fonts/CascadiaMono.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: Cascadia Code-SemiLight;
  src: url(/fonts/CascadiaCode.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}

pre .line {
  display: block;
}

code,
pre {
    font-family: "Cascadia Mono-SemiLight",Menlo,Monaco,Consolas,monospace;
    padding: 0.2em;
    margin: 0;
    font-size: 85%;
    white-space: pre-wrap;
    background-color: rgba(0, 0, 0, 0.04);
}

pre {
    padding: 15px;
    border-radius: 4px;
}

pre code {
    padding: 0;
    font-size: 100%;
    background-color: transparent;
    text-align: left;
}
