---
layout: layouts/presentation.njk
title: "SemBeacon: A Semantic Proximity Beacon Solution for Discovering and Detecting the Position of Physical Things"
presentation_title: "SemBeacon: A Semantic Proximity Beacon Solution for Discovering and Detecting the Position of Physical Things"
author: <u>Maxim Van de Wynckel</u>, Beat Signer
logo: true
width: 1280
height: 720
---
{% decktape title, page %}

<section data-markdown>
    {% markdown %}
        ## Protocol
        ### BLE 4.X
        ![](/images/specification/sembeacon_specification_v4_2_alpha.svg)
    {% endmarkdown %}
</section>

<section data-markdown>
    {% markdown %}
        ## Protocol
        ### BLE 5.X
        ![](/images/specification/sembeacon_specification_v5_0_alpha.svg)
    {% endmarkdown %}
</section>