---
layout: layouts/presentation.njk
title: "SemBeacon: A Semantic Proximity Beacon Solution for Discovering and Detecting the Position of Physical Things"
presentation_title: "SemBeacon: A Semantic Proximity Beacon Solution for Discovering and Detecting the Position of Physical Things"
author: <u>Maxim Van de Wynckel</u>, Beat Signer
logo: true
width: 1280
height: 720
---
{% decktape title, page %}

<section data-markdown>
    {% markdown %}
        ## Physical Things
    {% endmarkdown %}
</section>

<section data-markdown>
    {% markdown %}
        ## Protocol
        ### BLE 4.X
        ![](./images/specification_BLE4.svg){ width=80% }
    {% endmarkdown %}
</section>

<section data-markdown>
    {% markdown %}
        ## Protocol ...
        ### BLE 5.X
        ![](./images/specification_BLE5.svg){ width=80% }
    {% endmarkdown %}
</section>