---
permalink: /tools/validate/index.html
layout: layouts/default.njk
eleventyExcludeFromCollections: true
title: SemBeacon Site Validator
---

<script src="https://cdn.jsdelivr.net/npm/@openhps/core@latest/dist/web/openhps-core.min.js" async></script>
<script src="https://cdn.jsdelivr.net/npm/@openhps/rf@latest/dist/web/openhps-rf.min.js" async></script>
<script src="https://cdn.jsdelivr.net/npm/@openhps/rdf@latest/dist/web/openhps-core.min.js" async></script>
