---
layout: layouts/base.njk
permalink: /posts/
eleventyNavigation:
  key: Blog
  order: 2
title: 'Posts'
---

<div class="container main">
  <div class="row">
    <div class="col-sm-7 typography">
        <h1>Blog Posts</h1>
        {% set postslist = collections.posts %}
        {% include "postslist.njk" %}
    </div>
  </div>
</div>